<?xml version="1.0" encoding="ISO-8859-15"?>
<project name="xp-build-plugin-xcc">
  <target name="compile" depends="plugin:xcc:pre-check, plugin:xcc:compile-main, plugin:xcc:compile-test"/>
  <target name="clean"/>
  <target name="validate"/>
  <target name="prepare"/>
  <target name="test"/>
  <target name="integration-test"/>
  <target name="ci-metrics"/>
  <target name="pre-package"/>
  <target name="package"/>
  <target name="post-package"/>
  <target name="verify"/>
  <target name="install"/>
  <target name="publish"/>

  <target name="plugin:xcc:pre-check">
    <pathconvert property="xp.xcc.has-main" setonempty="false">
      <fileset dir="${build.origdir}/src/main/xp" includes="**/*.xp" erroronmissingdir="false"/>
    </pathconvert>
    <pathconvert property="xp.xcc.has-test" setonempty="false">
      <fileset dir="${build.origdir}/src/test/xp" includes="**/*.xp" erroronmissingdir="false"/>
    </pathconvert>
  </target>

  <target name="plugin:xcc:compile-main" if="xp.xcc.has-main">
    <exec
     executable="xcc"
     dir="${build.origdir}"
    >
      <arg value="-o"/>
      <arg value="${build.target.classes}"/>
      <arg value="-sp"/>
      <arg value="${build.origdir}/src/main/xp"/>

      <arg value="${build.origdir}/src/main/xp"/>
    </exec>
  </target>

  <target name="plugin:xcc:compile-test" if="xp.xcc.has-test">
    <exec
     executable="xcc"
     dir="${build.origdir}"
    >
      <arg value="-o"/>
      <arg value="${build.target.testClasses}"/>
      <arg value="-sp"/>
      <arg value="${build.origdir}/src/main/xp"/>
      <arg value="-sp"/>
      <arg value="${build.origdir}/src/test/xp"/>

      <arg value="${build.origdir}/src/test/xp"/>
    </exec>
  </target>
</project>
